<div class="form-group">
  <label for="bejnev" class="col-sm-2 control-label">Bejnev</label>
  <div class="col-sm-10">
    <input type="text" ng-model="user.bejnev" class="form-control" id="szoveg" placeholder="bejnev"/>
  </div>
</div>
<div class="form-group">
  <label for="email" class="col-sm-2 control-label">Email</label>
  <div class="col-sm-10">
    <input type="text" ng-model="user.email" class="form-control" id="kep" placeholder="email"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>
</div>