
<hr class="topbar"/>

<div class="container">

	<div class="row">

		<div class="col-sm-3">
			<div class="sidebar-account">
				<div class="row ">
					<div class="col-lg-12">

						<div class="panel panel-default">
							<div class="panel-heading">Profile</div>
							<div class="panel-body">
								<ul class="nav">
									<li>
										<a class="active" href="#" ui-sref="profile({id: 100})">Profile</a>
									</li>
									<li>
										<a class="active" href="#" ui-sref="hirdeteseim({id: user.getUser().id})">My Ads</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!--div class="row hidden-xs">
					<div class="col-lg-12">
						<div class="well">

							<div class="row ">
								<div class="col-lg-3">
									<img src="css/images/icons/Crest.png" width="45"/>
								</div>
								<div class="col-lg-9">
									<h4 style="margin-top: 0">Hirdetés kiemelés</h4>
									<p>Emelje ki hirdetését</p>
								</div>
							</div>

						</div>
					</div>
				</div-->

			</div>
		</div>

		<div class="col-sm-9">

            <!--div class="alert alert-danger" role="alert" ng-repeat="err in response.errors">
                {{err.message}}: {{err.field}}
            </div-->

            <div class="alert alert-danger" role="alert" ng-show="response.errors">
            	One or more data you provided was invalid. Please fill in the form with the correct details.
            </div>

			<form name="hirdForm" role="form" ng-submit="createHirdetes(hirdForm.$valid)" enctype="multipart/form-data" cg-busy="hirdetesBusy" class="form-vertical" novalidate>

				<div class="panel panel-default">

					<div class="panel-heading">Post an Ad</div>

					<div class="panel-body">

						<div class="form-group">

							<div class="row">

								<div class="col-sm-12">
									<label class="required">Ad title </label>
									<input name="targy" type="text" class="form-control" ng-model="hirdetes.targy" required ng-maxlength="70">
                                    <span style="color:red" ng-show="hirdForm.targy.$dirty && hirdForm.targy.$invalid">
                                        <span ng-show="hirdForm.targy.$error.required">Please enter Ad title</span>
                                        <span ng-show="hirdForm.targy.$error.maxlength">Max 70 character</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label class="required">Ad description </label>
									<textarea name="szoveg" class="form-control col-sm-8 expand" rows="16" style="width: 99%" ng-model="hirdetes.szoveg" required ng-maxlength="10000"></textarea>
                                    <span style="color:red" ng-show="hirdForm.szoveg.$dirty && hirdForm.szoveg.$invalid">
                                        <span ng-show="hirdForm.szoveg.$error.required">Please enter Ad description</span>
                                        <span ng-show="hirdForm.szoveg.$error.maxlength">Max 10000 character</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label class="required">Category </label>
									<select name="forovat" ng-model="hirdetes.forovat" ng-options="forovat.nev for forovat in forovatok track by forovat.id" class="form-control" required>
										<option value=''>Please select category</option>
									</select>
									<span style="color:red" ng-show="hirdForm.forovat.$dirty && hirdForm.forovat.$invalid">
                                        <span ng-show="hirdForm.forovat.$error.required">Please select category</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label>Subcategory </label>
									<select ng-disabled="hirdetes.forovat == undefined" ng-model="hirdetes.alrovat" ng-options="alrovat.nev for alrovat in alrovatok | filter: {parent: hirdetes.forovat.id}" class="form-control">
										<option value=''>Please select subcategory</option>
									</select>
								</div>
									<!--track by alrovat.id-->

								<!--div class="col-sm-12">
									<br />
									<label class="required">Régió</label>
									<select name="foregio" ng-model="hirdetes.foregio" ng-options="foregio.nev for foregio in foregiok track by foregio.id" class="form-control" required>
										<option value=''>Kérjük válasszon régiót</option>
									</select>
									<span style="color:red" ng-show="hirdForm.foregio.$dirty && hirdForm.foregio.$invalid">
                                        <span ng-show="hirdForm.foregio.$error.required">Kérjük válasszon régiót!</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label>Alrégió</label>
									<select ng-disabled="hirdetes.foregio == undefined" ng-model="hirdetes.alregio" ng-options="alregio.nev for alregio in regiok | filter: {parent: hirdetes.foregio.id}" class="form-control">
										<option value=''>Kérjük válasszon alrégiót</option>
									</select>
								</div-->
									<!--track by foregio.id-->

                                <div class="col-sm-6">
                                	<br />
                                    <label for="postcode">Postcode</label>
                                    <input name="postcode" type="postcode" class="form-control " id="postcode" ng-model="hirdetes.postcode" placeholder="Postcode" valid-postcode>
                                	<span style="color:red" ng-show="hirdForm.postcode.$dirty && hirdForm.postcode.$invalid">
                                        <!--span ng-show="hirdForm.postcode.$error.required">Kérjük adja meg az postcode-ot!</span-->
                                        <span ng-show="! hirdForm.postcode.$error.required && hirdForm.postcode.$error.validPostcode">Invalid postcode!</span>
                                    </span>
                                </div>

								<div class="col-sm-12">
									<br />
									<label>Address</label>
									<input name="cim" type="text" class="form-control " ng-model="hirdetes.cim" ng-maxlength="50">
                                    <span style="color:red" ng-show="hirdForm.cim.$dirty && hirdForm.cim.$invalid">
                                        <span ng-show="hirdForm.cim.$error.maxlength">
                                        	Max 50 character
                                        </span>
                                    </span>
								</div>

								<div class="col-sm-6">
									<br />
									<label>Town / Village</label>
									<input name="telepules" type="text" class="form-control " ng-model="hirdetes.telepules" ng-maxlength="50">
                                    <span style="color:red" ng-show="hirdForm.telepules.$dirty && hirdForm.telepules.$invalid">
                                        <span ng-show="hirdForm.telepules.$error.maxlength">
                                        	Max 50 character
                                        </span>
                                    </span>
								</div>

								<div class="col-sm-6">
									<br />
									<label>Price </label>
									<div class="input-group">
										<span class="input-group-addon">&pound;</span>
										<input name="ar" type="number" class="form-control " ng-model="hirdetes.ar" min="1" max="3000000000">
										<span style="color:red" ng-show="hirdForm.ar.$dirty && hirdForm.ar.$invalid">
	                                        <span ng-show="hirdForm.ar.$error.number">Please only enter numbers</span>
	                                        <span ng-show="hirdForm.ar.$error.max">Max price is 3.000.000.000</span>
	                                        <span ng-show="!hirdForm.ar.$error.number && !hirdForm.ar.$error.max && hirdForm.ar.$error">Leave it empty if free</span>
	                                    </span>
									</div>
								</div>

								<div class="col-sm-6">
									<br />
									<label class="required">Expiration </label>
									<select name="lejarat" id="lejarat" class="form-control required" name="lejarat" ng-model="hirdetes.lejarat" required>
										<option value="365">1 year</option>
										<option value="183">1/2 year</option>
										<option value="122">1/4 year</option>
										<option value="92">3 month</option>
										<option value="61">2 month</option>
										<option value="31">1 month</option>
										<option value="21">3 week</option>
										<option value="14">2 week</option>
										<option value="7">1 week</option>
									</select>
									<span style="color:red" ng-show="hirdForm.lejarat.$dirty && hirdForm.lejarat.$invalid">
                                        <span ng-show="hirdForm.lejarat.$error.required">Please choose expiration</span>
                                    </span>
								</div>

								<div class="col-sm-6">
									<br />
									<label>Phone</label>
									<input name="telefon" type="text" class="form-control " ng-model="hirdetes.telefon" ng-maxlength="50">
                                    <span style="color:red" ng-show="hirdForm.telefon.$dirty && hirdForm.telefon.$invalid">
                                        <span ng-show="hirdForm.telefon.$error.maxlength">Max 50 character
                                    </span>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Contact details</div>
					<div class="panel-body">

						<div class="form-group">
							<div class="row">
								<div class="col-sm-12" >

                                    <div class="form-group">
                                        <label for="nev" class="required">Name</label>
                                        <input name="nev" type="text" class="form-control " id="nev" ng-model="hirdetes.nev" placeholder="Name" required ng-maxlength="70">
                                        <span style="color:red" ng-show="hirdForm.nev.$dirty && hirdForm.nev.$invalid">
                                            <span ng-show="hirdForm.nev.$error.required">Please enter your name</span>
                                            <span ng-show="hirdForm.nev.$error.maxlength">Max 70 characters</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="required">Email</label>
                                        <input name="email" type="email" class="form-control " id="email" ng-model="hirdetes.email" placeholder="Email" ng-disabled="user.isLogged()" required valid-email>
                                    	<span style="color:red" ng-show="hirdForm.email.$dirty && hirdForm.email.$invalid">
                                            <span ng-show="hirdForm.email.$error.required">Please enter your email</span>
                                            <span ng-show="! hirdForm.email.$error.required && hirdForm.email.$error.validEmail">Invalid email</span>
                                        </span>
                                    </div>

                                    <div class="checkbox" ng-show="! user.isLogged()">
                                        <label>
                                            <input type="checkbox" checked="true"> Newsletter
                                        </label>
                                    </div>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Terms &amp; conditions</div>
					<div class="panel-body">

						<div class="checkbox">
							<label class="required">
								<input name="terms" type="checkbox" ng-model="hirdetes.szabalyzat" required> <a style="text-decoration:underline" ui-sref="szabalyzat" target="_blank">I accept the terms &amp; conditions</a>
							</label>
							<div style="color:red" ng-show="hirdForm.terms.$invalid">
                                <span ng-show="hirdForm.terms.$error.required">Please accept the terms &amp; conditions</span>
                            </div>
						</div>

						<br />

						<!--a href="account_credits.html" class="btn btn-primary"><i class="icon-ok"></i>  Feladás</a-->

						<button id="feladas" type="submit" class="btn btn-primary" ng-disabled="hirdForm.$invalid"><i class="icon-ok"></i>  Post the Ad</button>

						<div style="color:red;padding-top:10px" ng-show="hirdForm.$invalid">
                        	Fields marked with <label class="required"></label> are mandatory
                        </div>

					</div>

				</div>

			</form>

		</div>

	</div>

</div>



