
<hr class="topbar"/>

<div class="container">

	<div class="row">

		<div class="col-sm-3">
			<div class="sidebar-account">
				<div class="row ">
					<div class="col-lg-12">

						<div class="panel panel-default">
							<div class="panel-heading">Profile</div>
							<div class="panel-body">
								<ul class="nav">
									<li>
										<a class="active" href="#" ui-sref="profile({id: 100})">Profile</a>
									</li>
									<li>
										<a class="active" href="#" ui-sref="hirdeteseim">My Ads</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!--div class="row hidden-xs">
					<div class="col-lg-12">
						<div class="well">

							<div class="row ">
								<div class="col-lg-3">
									<img src="css/images/icons/Crest.png" width="45"/>
								</div>
								<div class="col-lg-9">
									<h4 style="margin-top: 0">Hirdetés kiemelés</h4>
									<p>Emelje ki hirdetését</p>
								</div>
							</div>

						</div>
					</div>
				</div-->

			</div>
		</div>

		<div class="col-sm-9">

            <div class="alert alert-info" role="alert">
                <p ng-show="! user.isLogged()">Thank you for placing your Ad</p>
				<p ng-show="! user.isLogged()">An email has been sent to you with the ad activation link.</p>
                <p ng-show="user.isLogged()">Thank you for placing your Ad</p>
                <p ng-show="user.isLogged()">To edit / remove your Ad click on the <a class="active" href="#" ui-sref="hirdeteseim">My Ads</a> link</p>
                <p>You can upload pictures for your ad in the box below</p>
				<!--a class="" href="#" ui-sref='detailHirdetes({id: hirdetes.id})'>Ugrás a hirdetéshez</a-->
            </div>

		</div>

		<div class="col-sm-9">

			<div class="panel panel-default">
				<div class="panel-heading">Pictures (max 6)</div>
				<div class="panel-body">
					<div id="myDropzone" class="dropzone"></div>
					<br />
					<p><small>* the pictures might be resized</small></p>
				</div>
			</div>

		</div>

	</div>

</div>



