
<hr class="topbar"/>

<div class="container">

	<div class="row">

		<div class="col-sm-3">
			<div class="sidebar-account">
				<div class="row ">
					<div class="col-lg-12">

						<div class="panel panel-default">
							<div class="panel-heading">Felhasználói fiók</div>
							<div class="panel-body">
								<ul class="nav">
									<li>
										<a class="active" href="#" ui-sref="profile({id: 100})">Profilom</a>
									</li>
									<li>
										<a class="active" href="#" ui-sref="hirdeteseim">Hirdetéseim</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!--div class="row hidden-xs">
					<div class="col-lg-12">
						<div class="well">

							<div class="row ">
								<div class="col-lg-3">
									<img src="css/images/icons/Crest.png" width="45"/>
								</div>
								<div class="col-lg-9">
									<h4 style="margin-top: 0">Hirdetés kiemelés</h4>
									<p>Emelje ki hirdetését</p>
								</div>
							</div>

						</div>
					</div>
				</div-->

			</div>
		</div>

		<div class="col-sm-9">

            <div class="alert alert-info" role="alert">
                <p>Hirdetését rögzítettök!</p>
				<a class="" href="#" ui-sref='detailHirdetes({id: hirdetes.id})'>Ugrás a hirdetéshez</a>
            </div>

		</div>

		<div class="col-sm-9">

			<div class="panel panel-default">
				<div class="panel-heading">Fényképek feltöltése</div>
				<div class="panel-body">
					<div id="myDropzone" class="dropzone"></div>
					<br />
					<p><small>* a feltöltött képek átméretezésre kerülhetnek!</small></p>
				</div>
			</div>

		</div>

	</div>

</div>



