
<hr class="topbar"/>

<div class="container">

	<div class="row">

		<div class="col-sm-3">
			<div class="sidebar-account">
				<div class="row ">
					<div class="col-lg-12">

						<div class="panel panel-default">
							<div class="panel-heading">Felhasználói fiók</div>
							<div class="panel-body">
								<ul class="nav">
									<li>
										<a class="active" href="#" ui-sref="profile({id: 100})">Profilom</a>
									</li>
									<li>
										<a class="active" href="#" ui-sref="hirdeteseim({id: 10})">Hirdetéseim</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>

				<!--div class="row hidden-xs">
					<div class="col-lg-12">
						<div class="well">

							<div class="row ">
								<div class="col-lg-3">
									<img src="css/images/icons/Crest.png" width="45"/>
								</div>
								<div class="col-lg-9">
									<h4 style="margin-top: 0">Hirdetés kiemelés</h4>
									<p>Emelje ki hirdetését</p>
								</div>
							</div>

						</div>
					</div>
				</div-->

			</div>
		</div>

		<div class="col-sm-9">

            <!--div class="alert alert-danger" role="alert" ng-repeat="err in response.errors">
                {{err.message}}: {{err.field}}
            </div-->

            <div class="alert alert-danger" role="alert" ng-show="response.errors">
                Egy vagy tobb adat hibas volt! Kerjuk toltse ki ujra az urlapot es adjon meg helyes adatokat!
            </div>

			<form name="hirdForm" role="form"  ng-submit="createHirdetes(hirdForm.$valid)" enctype="multipart/form-data" cg-busy="hirdetesBusy" class="form-vertical" novalidate>

				<div class="panel panel-default">

					<div class="panel-heading">Új hirdetés létrehozása</div>

					<div class="panel-body">

						<div class="form-group">

							<div class="row">

								<div class="col-sm-12">
									<label class="required">Tárgy </label>
									<input name="targy" type="text" class="form-control" ng-model="hirdetes.targy" required ng-maxlength="70">
                                    <span style="color:red" ng-show="hirdForm.targy.$dirty && hirdForm.targy.$invalid">
                                        <span ng-show="hirdForm.targy.$error.required">Kérjük adja meg a a hirdetes tárgyát!</span>
                                        <span ng-show="hirdForm.targy.$error.maxlength">A tárgy maximum 255 karakter lehet!</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label class="required">Szöveg </label>
									<textarea name="szoveg" class="form-control col-sm-8 expand" rows="16" style="width: 99%" ng-model="hirdetes.szoveg" required ng-maxlength="10000"></textarea>
                                    <span style="color:red" ng-show="hirdForm.szoveg.$dirty && hirdForm.szoveg.$invalid">
                                        <span ng-show="hirdForm.szoveg.$error.required">Kérjük adja meg a a hirdetes szövegét!</span>
                                        <span ng-show="hirdForm.szoveg.$error.maxlength">A szöveg maximum 10000 karakter lehet!</span>
                                    </span>
								</div>

								<!--div class="col-sm-12"><br />
									<label>Kulcs szavak</label>
									<input type="text" class="form-control " >
								</div-->

								<div class="col-sm-12">
									<br />
									<label class="required">Kategória </label>
									<select name="forovat" ng-model="hirdetes.forovat" ng-options="forovat.nev for forovat in forovatok track by forovat.id" class="form-control" required>
										<option value=''>Kérjük válasszon kategóriát</option>
									</select>
									<span style="color:red" ng-show="hirdForm.forovat.$dirty && hirdForm.forovat.$invalid">
                                        <span ng-show="hirdForm.forovat.$error.required">Kérjük válasszon kategóriát!</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label>Alkategória </label>
									<select ng-disabled="hirdetes.forovat == undefined" ng-model="hirdetes.alrovat" ng-options="alrovat.nev for alrovat in alrovatok | filter: {parent: hirdetes.forovat.id}" class="form-control">
										<option value=''>Kérjük válasszon alkategóriát</option>
									</select>
								</div>
									<!--track by alrovat.id-->

								<div class="col-sm-12">
									<br />
									<label class="required">Régió</label>
									<select name="foregio" ng-model="hirdetes.foregio" ng-options="foregio.nev for foregio in foregiok track by foregio.id" class="form-control" required>
										<option value=''>Kérjük válasszon régiót</option>
									</select>
									<span style="color:red" ng-show="hirdForm.foregio.$dirty && hirdForm.foregio.$invalid">
                                        <span ng-show="hirdForm.foregio.$error.required">Kérjük válasszon régiót!</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label>Alrégió</label>
									<select ng-disabled="hirdetes.foregio == undefined" ng-model="hirdetes.alregio" ng-options="alregio.nev for alregio in regiok | filter: {parent: hirdetes.foregio.id}" class="form-control">
										<option value=''>Kérjük válasszon alrégiót</option>
									</select>
								</div>
									<!--track by foregio.id-->

								<div class="col-sm-6">
									<br />
									<label>Település</label>
									<input name="telepules" type="text" class="form-control " ng-model="hirdetes.telepules" ng-maxlength="50">
                                    <span style="color:red" ng-show="hirdForm.telepules.$dirty && hirdForm.telepules.$invalid">
                                        <span ng-show="hirdForm.telepules.$error.maxlength">A település név maximum 255 karakter lehet!</span>
                                    </span>
								</div>

								<div class="col-sm-12">
									<br />
									<label>Ár </label>
									<input name="ar" type="number" class="form-control " ng-model="hirdetes.ar" min="1" max="3000000000">
									<span style="color:red" ng-show="hirdForm.ar.$dirty && hirdForm.ar.$invalid">
                                        <span ng-show="hirdForm.ar.$error.number">Az ár mezőben számot adjon meg!</span>
                                        <span ng-show="hirdForm.ar.$error.max">Az ár max. 3.000.000.000 lehet!</span>
                                        <span ng-show="!hirdForm.ar.$error.number && !hirdForm.ar.$error.max && hirdForm.ar.$error">Hagyja üresen ha ingyenes!</span>
                                    </span>
								</div>
								<div class="col-sm-6">
									<br />
									<label>Telefonszám</label>
									<input name="telefon" type="text" class="form-control " ng-model="hirdetes.telefon" ng-maxlength="50">
                                    <span style="color:red" ng-show="hirdForm.telefon.$dirty && hirdForm.telefon.$invalid">
                                        <span ng-show="hirdForm.telefon.$error.maxlength">A telefonszám maximum 255 karakter lehet!</span>
								</div>

								<div class="col-sm-12">
									<br />
									<label class="required">Lejarat </label>
									<select name="lejarat" id="lejarat" class="form-control required" name="lejarat" ng-model="hirdetes.lejarat" required>
										<option value="365">1 év</option>
										<option value="183">1/2 év</option>
										<option value="122">1/4 év</option>
										<option value="92">3 hónap</option>
										<option value="61">2 hónap</option>
										<option value="31">1 hónap</option>
										<option value="21">3 hét</option>
										<option value="14">2 hét</option>
										<option value="7">1 hét</option>
									</select>
									<span style="color:red" ng-show="hirdForm.lejarat.$dirty && hirdForm.lejarat.$invalid">
                                        <span ng-show="hirdForm.lejarat.$error.required">Kérjük válasszon lejáratot!</span>
                                    </span>
								</div>

							</div>

						</div>

					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Hirdető adatai</div>
					<div class="panel-body">

						<div class="form-group">
							<div class="row">
								<div class="col-sm-12" >

                                    <div class="form-group">
                                        <label for="nev" class="required">Név</label>
                                        <input name="nev" type="text" class="form-control " id="nev" ng-model="hirdetes.nev" placeholder="Név" required ng-maxlength="70">
                                        <span style="color:red" ng-show="hirdForm.nev.$dirty && hirdForm.nev.$invalid">
                                            <span ng-show="hirdForm.nev.$error.required">Kérjük adja meg a nevét!</span>
                                            <span ng-show="hirdForm.nev.$error.maxlength">A név maximum 70 karakter lehet!</span>
                                        </span>
                                    </div>

                                    <div class="form-group">
                                        <label for="email" class="required">Email</label>
                                        <input name="email" type="email" class="form-control " id="email" ng-model="hirdetes.email" placeholder="Email cím" ng-disabled="user.isLogged()" required valid-email>
                                    	<span style="color:red" ng-show="hirdForm.email.$dirty && hirdForm.email.$invalid">
                                            <span ng-show="hirdForm.email.$error.required">Kérjük adja meg az email címét!</span>
                                            <span ng-show="! hirdForm.email.$error.required && hirdForm.email.$error.validEmail">Hibás email cím!</span>
                                        </span>
                                    </div>

                                    <div class="checkbox" ng-show="! user.isLogged()">
                                        <label>
                                            <input type="checkbox" checked="true"> Hírlevél
                                        </label>
                                    </div>

								</div>

							</div>

						</div>

					</div>

				</div>

				<div class="panel panel-default">
					<div class="panel-heading">Hirdetés feladása</div>
					<div class="panel-body">

						<div class="checkbox">
							<label class="required">
								<input name="terms" type="checkbox" ng-model="hirdetes.szabalyzat" required> A hirdetési szabályzatot elfogadom
							</label>
							<div style="color:red" ng-show="hirdForm.terms.$invalid">
                                <span ng-show="hirdForm.terms.$error.required">Kérjük fogadja el a hirdetési szabályzatot!</span>
                            </div>
						</div>

						<br />

						<!--a href="account_credits.html" class="btn btn-primary"><i class="icon-ok"></i>  Feladás</a-->

						<button type="submit" class="btn btn-primary" ng-disabled="hirdForm.$invalid"><i class="icon-ok"></i>  Feladás</button>

						<div style="color:red;padding-top:10px" ng-show="hirdForm.$invalid">
                        	A <label class="required"></label>-al jelölt mezők kitöltése kötelező
                        </div>

					</div>

				</div>

			</form>

		</div>

	</div>

</div>



