            <div class="jumbotron home-tron-search well ">
                <div class="container">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="home-tron-search-inner">

                                <div class="row">

                                    <div class="col-sm-8 col-xs-9" style="text-align: center">
                                        <div class="row">

                                            <div class="col-sm-12 col-sm-offset-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-group-addon-text hidden-xs">Find me a</span>

                                                    <input type="text" class="form-control col-sm-3" placeholder="pl. BMW, 2 szobas lakas, ulogarnitura " ng-model='search.text'>

                                                    <div class="input-group-addon hidden-xs">
                                                        <div class="btn-group" >
                                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                                            >{{forovat.nev}} <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li ng-repeat="forov in forovatok"><a href="#" ng-click="setRovat(forov)">{{forov.nev}}</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>


                                        </div>
                                    </div>



                                    <div class="col-sm-4 col-xs-3" style="text-align: center">
                                        <div class="row">
                                            <div class="col-sm-11 pull-right">
                                                <button class="btn btn-primary search-btn" ng-click="doSearch()"><i class="icon-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;Search</button>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">

    <br />
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="#" ng-click="resetRovat()">Minden rovat</a></li>
                <li ng-if="forovat.id > 0"><a href="#" ng-click="setRovat(forovat)">{{forovat.nev}}</a></li>
                <li ng-if="forovat.id > 0 && rovat.id > 0" class="active">{{rovat.nev}}</li>
                <li ng-if="foregio.id > 0">{{foregio.nev}}</li>
                <li ng-if="foregio.id > 0 && regio.id > 0">{{regio.nev}}</li>
                <li ng-if="search.text"><strong>"{{search.text}}"</strong></li>
                <li class="active">4,699 results</li>
            </ol>
        </div>
    </div>


<div class="row">

    <div class="col-sm-4  hidden-xs">
        <div class="sidebar ">

    <div class="row ">

        <div class="col-sm-11">

            <div class="panel panel-default">
                <div class="panel-heading">Filters</div>
                <div class="panel-body">
                    <form class="form-inline mini" style="margin-bottom: 0px;">
                        <fieldset>

                            <div class="row filter-row">
                                <div class="col-sm-6">
                                    <label>Rovat</label>
                                </div>
                                <div class="col-sm-6">
                                <select class=" form-control ">
                                    <option ng-repeat="rov in forovatok" value="{{rov.id}}" ng-selected="rov.id == forovat.id" >{{rov.nev}}</option>
                                </select>
                                </div>
                            </div>

                            <div class="row filter-row">
                                <div class="col-sm-6">
                                    <label>Regio</label>
                                </div>
                                <div class="col-sm-6">
                                    <select class=" form-control ">
                                        <option ng-repeat="reg in foregiok" value="{{reg.id}}" ng-selected="reg.id == foregio.id">{{reg.nev}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row filter-row">
                                <div class="col-sm-12">
                                    <label>Ar</label>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="email" class="form-control price-input" placeholder="min" />
                                        <span class="input-group-addon">Ft</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <input type="email" class="form-control price-input" placeholder="max" />
                                        <span class="input-group-addon">Ft</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row filter-row">
                                <div class="col-sm-12">
                                    <label>Search only:</label>
                                </div>
                                <div class="col-sm-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option1" checked>
                                            Urgent ads
                                        </label>
                                    </div><br />

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option2">
                                            Featured ads
                                        </label>
                                    </div><br />

                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="option2">
                                            Only ads with pictures
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="row filter-row">

                                <div class="col-sm-2 pull-right" style="margin-top: 10px;">
                                    <button class="btn btn-primary pull-right" type="submit">Update results</button>

                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <div class="row ">
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">Refine category</div>
                <div class="panel-body">
                    <ul class="nav nav-category">
                        <li>
                            <a class="active" href="#" ng-click="resetRovat();doSearch()">Minden rovat</a>
                            <ul ng-if="forovat.id > 0">
                                <li><a class="active" href="#" ng-click="setRovat(forovat);doSearch()">{{forovat.nev}}</a>
                                    <ul ng-if="rovat.id > 0">
                                        <li>
                                            <a class="active" href="#" ng-click="setRovat(forovat,rovat);doSearch()"><strong>{{rovat.nev}}</strong></a> (66)<a href="#" class="remove-category"><i class="fa fa-times"></i></a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">Alkategoriak</div>
                <div class="panel-body">
                    <div class="property" ng-repeat="alrov in alrovatok" ng-if="alrov.parent == forovat.id">
                        <a ng-if="alrov.id != rovat.id" href="#" ng-click="setRovat(forovat,alrov);doSearch()">{{alrov.nev}}</a>
                        <strong ng-if="alrov.id == rovat.id">{{alrov.nev}}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--div class="row ">
        <div class="col-sm-11">
            <div class="panel panel-default">
                <div class="panel-heading">Location</div>
                <div class="panel-body">
                    <ul class="nav">
                        <li>
                            <a class="active" href="category.html">Greater London (12)</a>
                            <ul>
                                <li><a href="listings.html"> - Central London (11)</a></li>
                                <li><a class="active" href="listings.html"> - East London (1)</a></li>
                                <li><a class="active" href="listings.html"> - North London (1)</a></li>
                                <li><a class="active" href="listings.html"> - North London (1)</a></li>
                                <li><a class="active" href="listings.html"> - North West London  (1)</a></li>
                                <li><a class="active" href="listings.html"> - South East London  (1)</a></li>
                                <li><a class="active" href="listings.html"> - South West London  (1)</a></li>
                                <li><a class="active" href="listings.html"> - West London  (1)</a></li>
                            </ul>
                        </li>
                        <li><a href="category.html">Brighton (5)</a></li>
                        <li><a href="category.html">Cambridge (2)</a></li>
                        <li><a href="category.html">Essex (2)</a></li>
                        <li><a href="category.html">Guildford (2)</a></li>
                        <li><a href="category.html">Kent (2)</a></li>
                        <li><a href="category.html">Luton (2)</a></li>
                        <li><a href="category.html">Milton Keynes (2)</a></li>
                        <li><a href="category.html">Oxford (2)</a></li>
                        <li><a href="category.html">Reading (2)</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div-->

    </div>

</div>

        <div class="col-sm-8 pull-right listings">




            <div class="row listing-row" style="margin-top: -10px;">
                <div class="pull-left">
                    <strong>Today, Saturday 14th September</strong>
                </div>
                <div class="pull-right">
                    <span style="">Sort by:&nbsp;&nbsp;&nbsp;</span>
                    <a href="#"  data-toggle="tooltip" data-placement="top" title="Sort from newest to oldest"> Date <i class="fa fa-chevron-up"></i></a>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Sort from lowest price to highest price"> Price <i class="fa fa-chevron-down"></i></a>
                </div>
            </div>



            <div class="row listing-row" ng-repeat="hirdetes in hirdetesek">

                <div class="col-sm-2">
                    <a href="details.html" class="thumbnail " ><img alt="176 * 120" src="css/images/listings/3.jpg"></a>
                </div>

                <div class="col-sm-10">
                    <h3><a class="" href="details.html">{{hirdetes.targy}} <span ng-if="hirdetes.ar > 0"> - <strong>{{hirdetes.ar}} Ft</strong></span></a></h3>
                    <p class="muted"><strong ng-if="hirdetes.telepules">{{hirdetes.telepules}}, </strong><strong>{{hirdetes.g_regio_nev}}</strong></p>
                    <p class="muted">Posted {{hirdetes.feladas}} to <a href="#" class="underline">{{hirdetes.r_rovat_nev}}</a></p>
                    <p>{{hirdetes.szoveg}}</p>
                    <p class="ad-description">
                        <strong>2006</strong> |

                        <strong>98,000 miles</strong> |

                        <strong>2,696 cc</strong> |

                        <strong>Diesel</strong>
                    </p>
                    <p>
                        <span class="classified_links pull-right">
                            <a class="link-info underline" href="#">Share</a>&nbsp;
                            <a class="link-info underline" href="#">Add to favorites</a>
                            &nbsp;<a class="link-info underline" href="details.html">Details</a>&nbsp;
                            &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                    </p>
                </div>
            </div>

            <div >
                <ul class="pagination pull-right">
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li ><a href="#">2</a></li>
                    <li ><a href="#">3</a></li>
                    <li ><a href="#">4</a></li>
                    <li ><a href="#">5</a></li>
                    <li class="hidden-xs"><a href="#">6</a></li>
                    <li class="hidden-xs"><a href="#">7</a></li>
                    <li class="hidden-sm hidden-xs"><a href="#">8</a></li>
                    <li class="hidden-sm hidden-xs"><a href="#">9</a></li>
                    <li class="hidden-sm hidden-xs"><a href="#">10</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div>

    </div>
</div>
