<div class="container" id="listings-page"  cg-busy="hirdetesService">
    <div class="row">
        <div class="col-sm-12 listing-wrapper listings-top listings-bottom">

            <br />
            <br />

            <div class="row">

                <div class="col-sm-7">

                    <ol class="breadcrumb">
                        <li ng-show="HirdetesekLoaded"><a href="#" class="link-info" ui-sref='hirdetesek()'><i class="fa fa-chevron-left"></i> Vissza</a></li>
                        <li><a href="#" class="link-info" ng-click="resetRovat();resetRegio();doSearch();">Összes hirdetés</a></li>
                        <li ng-if="hirdetes.p_rovat_id > 0 && hirdetes.r_rovat_id > 0"><a href="#" class="link-info" ng-click="setRovat({id: hirdetes.p_rovat_id, nev: hirdetes.p_rovat_nev});doSearch();">{{hirdetes.p_rovat_nev}}</a></li>
                        <li ng-if="hirdetes.p_rovat_id > 0 && hirdetes.r_rovat_id > 0"><a href="#" ng-click="setRovat({id: hirdetes.p_rovat_id, nev: hirdetes.p_rovat_nev},{id: hirdetes.r_rovat_id, nev: hirdetes.r_rovat_nev});doSearch();" class="link-info">{{hirdetes.r_rovat_nev}}</a></li>
                        <li ng-if="! hirdetes.p_rovat_id && hirdetes.r_rovat_id > 0"><a href="#" ng-click="setRovat({id: hirdetes.r_rovat_id, nev: hirdetes.r_rovat_nev});doSearch();" class="link-info">{{hirdetes.r_rovat_nev}}</a></li>
                    </ol>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-7">
                    <h1>{{hirdetes.targy}}</h1>
                    <p><span ng-if="hirdetes.telepules">{{hirdetes.telepules}}, </span><a ng-if="hirdetes.g_regio_id > 0" href="#" ng-click="setRegio({id: hirdetes.p_regio_id, nev: hirdetes.p_regio_nev}, {id: hirdetes.g_regio_id, nev: hirdetes.g_regio_nev});doSearch();" class="link-info">{{hirdetes.g_regio_nev}}</a></p>
                </div>


                <div class="col-sm-5">

                    <p class="price" ng-if="hirdetes.ar">{{hirdetes.ar}} Ft</p>

                </div>

            </div>

            <hr />

            <div class="row">

                <div class="col-sm-7">

                    <p>
                        {{hirdetes.szoveg}}
                    </p>

                    <p>Azonosito: {{hirdetes.id}} | Feladva {{hirdetes.days_active ? hirdetes.days_active : 0}} napja ({{hirdetes.feladas}})</p>

                    <p>
                        <span class="classified_links ">
                            <!--a class="link-info" ng-click="shareHirdetes(hirdetes.id)" data-toggle="modal" data-target="#modalShare" href="#"><i class="fa fa-share"></i> Megosztas</a>&nbsp;
                            <a class="link-info" ng-click="saveHirdetes(hirdetes.id)" data-toggle="modal" data-target="#modalLogin" href="#"><i class="fa fa-star"></i> Kedvencekhez</a>&nbsp;
                            <a class="link-info fancybox-media" href="http://maps.google.com/?ll=48.85796,2.295231&spn=0.003833,0.010568&t=h&z=17"><i class="fa fa-map-marker"></i> Terkep</a>&nbsp;-->
                            <a class="link-info" href="#"><i class="fa fa-envelope-o"></i> Kapcsolat</a>
                        </span>
                    </p>

                </div>

                <div class="col-sm-5 center zoom-gallery">

                    <div class="row center" ng-show="hirdetes.image_created!=null">

                        <div class="col-sm-12">

                            <a class="fancybox" rel="group" href="{{createPath(hirdetes.image_created, hirdetes.image_name)}}">
                                <img id="img_01" alt="" class="raised" ng-src="{{createPath(hirdetes.image_created, hirdetes.image_name)}}" />
                            </a>

                            <br />
                            <br />

                            <div class="row" id="gallery" cg-busy="imagesBusy">

                                <div class="col-xs-4" style="margin-bottom: 10px;" ng-repeat="image in hirdetes.images" ng-show="hirdetes.images.length>0">
                                    <a href="{{createPath(image.created, image.name)}}" class="fancybox thumbnail" rel="group" >
                                        <img alt="" ng-src="{{createPath(image.created, image.name)}}" style="width: 100%" />
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="col-sm-12" style="text-align: center; margin: 0 auto">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-warning" style="text-align: center;width: 180px; " type="button">Kapcsolat</button>
                        <br />
                        <p ng-show="hirdetes.telefon!=''">telefonszám: {{hirdetes.telefon}}</p>
                    </div>

                    <br />

                </div>

            </div>

        </div>
    </div>
</div>