<div class="jumbotron home-tron-search well ">

    <div class="container">

        <div class="row">

            <div class="col-sm-12">

                <div class="home-tron-search-inner">

                    <div class="row">

                        <div class="col-sm-8 col-xs-9" style="text-align: center">

                            <div class="row">

                                <div class="col-sm-12 col-sm-offset-1">

                                    <div class="input-group">

                                        <span class="input-group-addon input-group-addon-text hidden-xs">Keresett kifejezés</span>

                                        <input type="text" class="form-control col-sm-3" placeholder="pl. BMW, 2 szobas lakas, ulogarnitura " ng-model='filter.text'>

                                        <div class="input-group-addon hidden-xs">
                                            <div class="btn-group" >
                                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                                >{{forovat.nev}} <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" ng-click="resetRovat()">Minden rovatban</a></li><li ng-repeat="forov in forovatok"><a href="#" ng-click="setRovat(forov);doSearch()">{{forov.nev}}</a></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="col-sm-4 col-xs-3" style="text-align: center">

                            <div class="row">

                                <div class="col-sm-11 pull-right">

                                    <button class="btn btn-primary search-btn" ng-click="doSearch()"><i class="icon-search"></i>Keresés</button>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="container">

    <br />

    <div class="row">

        <div class="col-sm-12">

            <ol class="breadcrumb">
                <li><a href="#" ng-click="resetRovat();resetRegio();doSearch();">Mind</a></li>
                <li ng-if="forovat.id > 0"><a href="#" ng-click="setRovat(forovat);doSearch();">{{forovat.nev}}</a></li>
                <li ng-if="forovat.id > 0 && rovat.id > 0" class="active">{{rovat.nev}}</li>
                <li ng-if="foregio.id > 0"><a href="#" ng-click="setRegio(foregio);doSearch();">{{foregio.nev}}</a></li>
                <li ng-if="foregio.id > 0 && regio.id > 0">{{regio.nev}}</li>
                <li ng-if="search.text"><strong>"{{search.text}}"</strong></li>
                <li class="active">{{totalItems}} hirdetés</li>
            </ol>

        </div>

    </div>

    <div class="row">

        <div class="col-sm-4 hidden-xs">

            <div class="sidebar ">

                <div class="row ">

                    <div class="col-sm-11 hidden-xs">
                        <a class="btn btn-primary pull-right" id="regionsBtn" style="width: 100%" ng-click="resetRegio();doSearch()">Minden régió  <span class="caret"></span></a>
                    </div>

                    <div data-backdrop="" id="regionsModal" class="bs-countries-modal-sm  hidden-xs" tabindex="-1" role="dialog" aria-labelledby="regionsModal" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="directory-counties">
                                    <div class="col-sm-12">

                                        <ul class="nav nav-tabs" id="myTab">
                                            <li class="" ng-repeat="foreg in foregiok">
                                                <a data-toggle="tab" href="#regio{{foreg.id}}" ng-click="setRegio(foreg);doSearch()">
                                                    {{foreg.nev}}
                                                </a>
                                            </li>
                                        </ul>

                                        <div class="tab-content " id="myTabContent">

                                            <div id="regio{{foreg.id}}" class="tab-pane fade counties-pane" ng-class="(foreg.id==foregio.id) ? 'active in' : ''" ng-repeat="foreg in foregiok">

                                                <div class="col-sm-3">

                                                    <div class="row directory-block">

                                                        <div class="col-sm-12">

                                                            <a href="#" ng-repeat="alreg in _alregiok[foreg.id]" ng-click="setRegio(foreg,alreg);doSearch()" style="display:block">
                                                                {{alreg.nev}}
                                                            </a>

                                                            <br />

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <br />

                <div class="row ">

                    <div class="col-sm-11">

                        <div class="panel panel-default">
                            <div class="panel-heading">Ár szűrő</div>
                            <div class="panel-body">
                                <form class="form-inline mini" style="margin-bottom: 0px;" name="filterForm">
                                    <fieldset>

                                        <div class="row filter-row">
                                            <!--div class="col-sm-12">
                                                <label>Ár</label>
                                            </div-->
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control price-input" placeholder="min" ng-model="filter.minar" />
                                                    <span class="input-group-addon">Ft</span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control price-input" placeholder="max" ng-model="filter.maxar" />
                                                    <span class="input-group-addon">Ft</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row filter-row">

                                            <div class="col-sm-2 pull-right" style="margin-top: 10px;">
                                                <button class="btn btn-primary pull-right" data-ng-click="setPage(1);pageChanged()">Frissítés</button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row " ng-show="forovat.id>0">
                    <div class="col-sm-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">Alkategoriák</div>
                            <div class="panel-body">
                                <ul class="nav nav-category">
                                    <li>
                                        <!--a class="active" href="#" ng-click="resetRovat();doSearch()">Minden rovat</a-->
                                        <ul>
                                            <li>
                                                <a class="active" href="#" ng-if="rovat.id==0" ng-click="setRovat(forovat);doSearch()"><strong>{{forovat.nev}}</strong></a>
                                                <a class="active" href="#" ng-if="rovat.id>0" ng-click="setRovat(forovat);doSearch()">{{forovat.nev}}</a>
                                                <ul>
                                                    <li ng-show="rovat.id>0">
                                                        <a class="active" href="#" ng-click="setRovat(forovat,rovat);doSearch()"><strong>{{rovat.nev}}</strong></a> (66)<a href="#" class="remove-category"><i class="fa fa-times"></i></a>
                                                    </li>
                                                    <li ng-repeat="alrov in alrovatok" ng-if="alrov.parent == forovat.id && alrov.id != rovat.id">
                                                        <a href="#" ng-click="setRovat(forovat,alrov);doSearch()">{{alrov.nev}}</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-sm-11">
                        <div class="panel panel-default">
                            <div class="panel-heading">Kategóriák</div>
                            <div class="panel-body">
                                <div class="property" ng-repeat="forov in forovatok">
                                    <a href="#" ng-click="setRovat(forov);doSearch()">
                                        <span ng-if="forov.id!=forovat.id">{{forov.nev}}</span>
                                        <strong ng-if="forov.id==forovat.id">{{forov.nev}}</strong>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="col-sm-8 pull-right listings" cg-busy="hirdetesService">

            <div class="row listing-row" style="margin-top: -10px;">
                <div class="pull-left">
                    <strong>Ma, {{date | date:'longDate'}} van</strong>
                </div>
                <div class="pull-right">
                    <a href="#" ng-click="setOrd('feladas');doSearch()" data-toggle="tooltip" data-placement="top" title="Rendezes feladas datuma szerint csokkeno"> Datum<i class="fa" ng-class="(listing.ordir=='DESC') ? 'fa-chevron-down':'fa-chevron-up'" ng-show="listing.ord=='feladas'"></i></a>
                    <a href="#" ng-click="setOrd('ar');doSearch()" data-toggle="tooltip" data-placement="top" title="Ar szerint novekvo"> Price <i class="fa" ng-class="(listing.ordir=='DESC') ? 'fa-chevron-down':'fa-chevron-up'" ng-show="listing.ord=='ar'"></i></a>
                </div>
            </div>

            <div class="row listing-row" ng-repeat="hirdetes in hirdetesek">

                <div class="col-sm-2">
                    <a href="details.html" class="thumbnail " ><img alt="176 * 120" src="css/images/listings/3.jpg"></a>
                </div>

                <div class="col-sm-10">
                    <h3><a class="" href="#" ui-sref='detailHirdetes({id: hirdetes.id})'>{{hirdetes.targy}} <span ng-if="hirdetes.ar > 0"> - <strong>{{hirdetes.ar | currency:""}} Ft</strong></span></a></h3>
                    <p class="muted"><strong ng-if="hirdetes.telepules">{{hirdetes.telepules}}, </strong><a href="#" class="underline" ng-click="setRegio({id: hirdetes.g_regio_id, nev: hirdetes.g_regio_nev});doSearch()">{{hirdetes.g_regio_nev}}</a></p>
                    <p class="muted">Feladva {{hirdetes.feladas}} <a href="#" class="underline" ng-click="setRovat({id: hirdetes.p_rovat_id, nev: hirdetes.p_rovat_nev});doSearch()">{{hirdetes.p_rovat_nev}}</a> <a href="#" class="underline" ng-click="setRovat({id: hirdetes.p_rovat_id, nev: hirdetes.p_rovat_nev}, {id: hirdetes.r_rovat_id, nev: hirdetes.r_rovat_nev});doSearch()">{{hirdetes.r_rovat_nev}}</a></p>
                    <p>{{hirdetes.szoveg}}</p>
                    <p>
                        <span class="classified_links pull-right">
                            <a class="link-info underline" ng-click="shareHirdetesClick(hirdetes.id)" data-toggle="modal" data-target="#modalShare" href="#">Megosztás</a>&nbsp;
                            <a class="link-info underline" ng-click="saveHirdetesClick(hirdetes.id)" data-toggle="modal" data-target="#modalLogin" href="#">Kedvencekhez</a>&nbsp;
                            <a class="link-info underline" href="#" ui-sref="detailHirdetes({id: hirdetes.id})">Részletek</a>&nbsp;
                            <!--a class="link-info underline" href="#">Kapcsolat</a-->
                        </span>
                    </p>
                </div>
            </div>

            <div >
                <ul class="pagination pull-right">
                    <li><a href="#">Prev</a></li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li ><a href="#">2</a></li>
                    <li ><a href="#">3</a></li>
                    <li ><a href="#">4</a></li>
                    <li ><a href="#">5</a></li>
                    <li class="hidden-xs"><a href="#">6</a></li>
                    <li class="hidden-xs"><a href="#">7</a></li>
                    <li class="hidden-sm hidden-xs"><a href="#">8</a></li>
                    <li class="hidden-sm hidden-xs"><a href="#">9</a></li>
                    <li class="hidden-sm hidden-xs"><a href="#">10</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>

        </div>

    </div>

</div>


