
<hr class="topbar"/>

<div class="container" cg-busy="contactBusy">

    <div class="row">

        <div class="col-md-12">
            <h1>Contact us</h1>
            <hr />
        </div>

    </div>

    <div class="row" ng-show="success">

        <div class="col-md-8 col-md-offset-2">

            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="alert alert-info" role="alert">
                            We have received your message<br />We will get back to you as soon as possible.
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row" ng-show="! success">

        <div class="col-md-8 col-md-offset-2">

            <form name="contactForm" role="form" ng-submit="sendContact(contactForm)" enctype="multipart/form-data" novalidate>

            <div class="row" ng-show="! user.isLogged()">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="nev" class="required">Name</label>
                        <input class="form-control" name="nev" id="contactNev" type="text" ng-model="contact.nev" placeholder="Név" required ng-maxlength="70">
                        <span style="color:red" ng-show="contactForm.nev.$dirty && contactForm.nev.$invalid">
                            <span ng-show="contactForm.nev.$error.required">Please enter your name</span>
                            <span ng-show="contactForm.nev.$error.maxlength">Max 70 character</span>
                        </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="required">Email</label>
                        <input class="form-control" name="email" id="contactEmail" type="text" ng-model="contact.email" placeholder="Email cím" required valid-email>
                        <span style="color:red" ng-show="contactForm.email.$dirty && contactForm.email.$invalid">
                            <span ng-show="contactForm.email.$error.required">Please enter your email</span>
                            <span ng-show="! contactForm.email.$error.required && contactForm.email.$error.validEmail">Invalid email</span>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="targy" class="required">Subject</label>
                        <select class="form-control" name="targy" id="contactTargy" ng-model="contact.targy" required>
                            <option value="">Please select</option>
                            <option>Technical problem</option>
                            <option>Feedback</option>
                            <option>Advertisement</option>
                            <option>Other</option>
                        </select>
                        <span style="color:red" ng-show="contactForm.targy.$dirty && contactForm.targy.$invalid">
                            <span ng-show="contactForm.targy.$error.required">Please select subject</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="szoveg" class="required">Message</label>
                        <textarea class="form-control" name="szoveg" id="contactSzoveg" cols="50" rows="10" ng-model="contact.szoveg" required ng-minlength="20" ng-maxlength="500"></textarea>
                        <span style="color:red" ng-show="contactForm.szoveg.$dirty && contactForm.szoveg.$invalid">
                            <span ng-show="contactForm.szoveg.$error.required">Please enter your message</span>
                            <span ng-show="contactForm.szoveg.$error.minlength">Min 20 character</span>
                            <span ng-show="contactForm.szoveg.$error.maxlength">Max 500 character</span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" ng-disabled="contactForm.$invalid">Send message</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>