<div class="jumbotron home-search" style="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <br />
                <p class="main_description">Search thousands of stores, brands, products and user classifieds all in one place</p>

                <br /><br />
                <div class="row">

                    <div class="col-sm-8 col-sm-offset-2" style="text-align: center">
                        <div class="row">

                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="input-group">
                                    <span class="input-group-addon input-group-addon-text">Find me a</span>

                                    <input type="text" class="form-control col-sm-3"  ng-model='search.text' placeholder="pl. BMW, 2 szobas lakas, ulogarnitura ">

                                    <div class="input-group-addon hidden-xs">
                                        <div class="btn-group" >
                                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"
                                            >{{forovat.nev}} <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" role="menu">
                                                <li ng-repeat="forov in forovatok"><a href="#" ng-click="setRovat(forov)">{{forov.nev}}</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-12" style="text-align: center">
                        <!--a href="listings.html" class="btn btn-primary search-btn">Search</a-->
                        <a class="btn btn-primary search-btn" ng-click="doSearch()">Search</a>
                    </div>
                </div>
                <br />
                <br />
                <div class="row">
                    <div class="col-sm-12" style="text-align: center">

                        <div id="quotes">
                            <div class="text-item" style="display: none;">Boom! <strong>Vince</strong> just sold a <strong>Washing Machine</strong> in <strong>Sheffield</strong></div>
                            <div class="text-item" style="display: none;"><strong>Julia</strong> is availiable for <strong>home cleaning</strong> in <strong>Manchester</strong></div>
                            <div class="text-item" style="display: none;">Success! <strong>Paul</strong> has just sold a <strong>Mercedes-Benz E-class</strong> in <strong>Liverpool</strong></div>
                            <div class="text-item" style="display: none;">Hey, <strong>Uber</strong> has a <strong>job opening</strong> in <strong>London</strong></div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-sm-12 col-md-12">

            <div class="row directory">
                <div class="col-sm-12 ">
                    <h2><span>Rovatok</span></h2>
                </div>
            </div>

            <div class="row directory">


                <div class="col-xs-12">

                    <div class="directory-block col-sm-4 col-xs-6" ng-repeat="forov in forovatok" style="min-height:250px">
                        <div class="row">
                            <div class="col-sm-3">
                                <i class="fa fa-home"></i>
                                <!--i class="fa fa-truck"></i-->
                                <!--i class="fa fa-shopping-cart"></i-->
                            </div>
                            <div class="col-sm-9">
                                <h4><a href="#" ng-click="setRovat(forov);doSearch()">{{forov.nev}}</a></h4>
                                <p>
                                    <a style="display:block" href="#" ng-click="setRovat(forov,alrov);doSearch()" ng-repeat="alrov in alrovatok" ng-if="alrov.parent == forov.id">{{alrov.nev}}</a>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row directory-counties hidden-xs">

                <div class="col-sm-12">

                    <ul class="nav nav-tabs" id="myTab">

                        <li ng-repeat="foregio in foregiok" ng-class="{active : $first}"><a data-toggle="tab"  href="#regio{{foregio.id}}" ng-click="setRegio(foregio)">{{foregio.nev}}</a></li>

                        <!--li class=""><a data-toggle="tab"  href="#popular">Popular cities</a></li>
                        <li class=""><a data-toggle="tab"  href="#EN">England</a></li>
                        <li class=""><a data-toggle="tab"  href="#WA">Wales</a></li>
                        <li class=""><a data-toggle="tab"  href="#SC">Scotland</a></li>
                        <li class="hidden-md"><a data-toggle="tab"  href="#NI">Northern Ireland</a></li-->

                        <!--li class="dropdown">
                            <a data-toggle="dropdown" class="dropdown-toggle" id="myTabDrop1" href="#">Other countries <b class="caret"></b></a>
                            <ul aria-labelledby="myTabDrop1" role="menu" class="dropdown-menu">
                                <li><a href="listings.html">USA</a></li>
                                <li><a href="listings.html">France</a></li>
                                <li><a href="listings.html">Germany</a></li>
                                <li><a href="listings.html">Spain and Portugal</a></li>
                                <li><a href="listings.html">Switzerland</a></li>
                                <li><a href="listings.html">Other Europe</a></li>
                            </ul>
                        </li-->

                    </ul>

                    <div class="tab-content " id="myTabContent">

                        <div id="regio{{foregio.id}}" class="tab-pane fade counties-pane" ng-class="{'active': $first, 'in': $first}" ng-repeat="foregio in foregiok">

                            <div class="col-sm-3">

                                <div class="row directory-block">

                                    <div class="col-sm-12">

                                        <a href="#" ng-repeat="alregio in _alregiok[foregio.id]" ng-click="setRegio(foregio,alregio);doSearch()" style="display:block">{{alregio.nev}}</a><br />

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>


            </div>



        </div>

    </div>

</div><!-- /.container -->

