
<hr class="topbar"/>

<div class="container" >
    <div class="row" cg-busy="userBusy">
        <div class="col-sm-12">

            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-11 col-sm-12">
                            <div class="well">
                                <h2>Elfelejtett jelszó</h2>
                                <p>Jelszó emlékeztető kűldése emailben.</p>

                                <div class="alert alert-info" role="alert" ng-show="success">
                                    Hamarosan küldünk Önnek egy jelszó emlékeztető emailt.
                                </div>

                                <form name="passwordForm" role="form" ng-submit="remind(email, passwordForm.$valid)" novalidate>
                                    <div class="form-group">
                                        <label>Regisztrált email cim</label>
                                        <input type="email" name="email" id="passwordEmail" ng-model="email" class="form-control " placeholder="Email cím" required valid-email>
                                        <span style="color:red" ng-show="passwordForm.email.$dirty && passwordForm.email.$invalid">
                                            <span ng-show="passwordForm.email.$error.required">Kérjük adja meg az email címét!</span>
                                            <span ng-show="! passwordForm.email.$error.required && passwordForm.email.$error.validEmail">Hibás email cím!</span>
                                        </span>
                                    </div>
                                    <br />
                                    <!--a href="account_dashboard.html" class="btn btn-primary">Sign in</a-->
                                    <input type="submit" class="btn btn-primary" value="Ekűldés" ng-disabled="passwordForm.email.$invalid || passwordForm.password.$invalid" />
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-11 pull-right">
                            <div class="well">
                                <h2>Regisztráció</h2>
                                <p>Ha még nem regisztrált akkor kérjük kattintson az alábbi gombra és hozza létre saját felhasználói fiókját. Regisztrált felhasználók könnyebben és gyorsabban adhatnak fel hirdetést és extra szolgáltatásokat is igénybe vehetnek.</p><br />
                                <a class="btn btn-primary" href="#" ui-sref="register">Fiók létrehozása</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <br />
            <br />

        </div>

    </div>
</div>