
<hr class="topbar"/>

<div class="container" >
    <div class="row" cg-busy="userBusy">
        <div class="col-sm-12">

            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-11 col-sm-12">
                            <div class="well">
                                <h2>Forgotten password</h2>
                                <p>Get password reminder by email</p>

                                <div class="alert alert-info" role="alert" ng-show="success">
                                    We have sent a password reminder email for you
                                </div>

                                <form name="passwordForm" role="form" ng-submit="remind(email, passwordForm.$valid)" novalidate>
                                    <div class="form-group">
                                        <label>Registered email address</label>
                                        <input type="email" name="email" id="passwordEmail" ng-model="email" class="form-control " placeholder="Email" required valid-email>
                                        <span style="color:red" ng-show="passwordForm.email.$dirty && passwordForm.email.$invalid">
                                            <span ng-show="passwordForm.email.$error.required">Please enter yopur email</span>
                                            <span ng-show="! passwordForm.email.$error.required && passwordForm.email.$error.validEmail">Invalid email</span>
                                        </span>
                                    </div>
                                    <br />
                                    <!--a href="account_dashboard.html" class="btn btn-primary">Sign in</a-->
                                    <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="passwordForm.email.$invalid || passwordForm.password.$invalid" />
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 col-md-11 pull-right">
                            <div class="well">
                                <h2>Registration</h2>
                                <p>If you don't have account then please sign up by clicking on the button below</p><br />
                                <a class="btn btn-primary" href="#" ui-sref="register">Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <br />
            <br />
            <br />
            <br />

        </div>

    </div>
</div>