<hr style="border: 3px solid #D2160A"/>

<div class="container">
    <div class="row">

        <div class="col-sm-3">
            <div class="sidebar-account">
            	<div class="row ">
            		<div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">Felhasználói fiók</div>
                            <div class="panel-body">
                                <ul class="nav">
                                    <li>
                                        <a class="active" href="#" ui-sref="hirdetes-feladas">Új hirdetés</a>
                                    </li>
                                    <li>
                                        <a class="active" href="#" ui-sref="hirdeteseim({id: user.id})">Hirdetéseim</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

            		</div>
            	</div>

                <div class="row hidden-xs">
                    <div class="col-lg-12">
                		<div class="well">

                            <div class="row ">
                                <div class="col-lg-3">
                                    <img src="css/images/icons/Crest.png" width="45"/>
                                </div>
                                <div class="col-lg-9">
                                    <h4 style="margin-top: 0">Hirdetés kiemelés</h4>
                                    <p>Emelje ki hirdetését</p>
                                </div>
                            </div>

                    	</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-9">

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Profil</div>
                <div class="panel-body" cg-busy="userBusy">

                    <form class="form-horizontal" ng-submit="updateUser()">
                        <fieldset>

                            <!--div class="form-group">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail1" class="col-sm-12 control-label">Your logo</label>
                                        <div class="col-sm-11">
                                            <img id="file-select" src="css/images/180x100.png" width="100%" /><br />

                                            <span class="btn btn-default btn-file">
                                                Click to upload <input type="file">
                                            </span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <br />
                                    <div class="form-group">
                                        <label for="inputEmail1" class="col-sm-4 control-label">Display name</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputEmail1" placeholder="The name you want other people to see">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputEmail1" class="col-sm-4 control-label">Company name</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputEmail1" placeholder="Your company name">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="inputEmail1" class="col-sm-4 control-label">Website</label>
                                        <div class="col-sm-8">
                                            <input type="email" class="form-control" id="inputEmail1" placeholder="http://">
                                        </div>
                                    </div>

                                </div>
                            </div-->

                            <!--div class="form-group">
                                <div class="col-sm-12">
                                    <label for="inputEmail1" style="width: 100%" class="control-label">About you</label><br /><br />
                                    <textarea class="form-control col-sm-8" rows="6" style="width: 99%"></textarea>
                                </div>
                            </div>

                            <hr /-->

                            <!--div class="form-group">
                                <label for="inputEmail1" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" ng-model="user.email" class="form-control" id="inputEmail1" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputFelhasznaloNev" class="col-sm-2 control-label">Felhasználó név</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="user.bejnev" class="form-control" id="inputFelhasznaloNev" placeholder="">
                                </div>
                            </div-->

                            <div class="form-group">
                                <label for="inputNev" class="col-sm-2 control-label">Név</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="user.nev" class="form-control" id="inputNev" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputTelefon" class="col-sm-2 control-label">Telefon</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="user.telefon" class="form-control" id="inputTelefon" placeholder="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputWeblap" class="col-sm-2 control-label">Weblap</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="user.weblap" class="form-control" id="inputWeblap" placeholder="http://">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputVaros" class="col-sm-2 control-label">Város</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="user.varos" class="form-control" id="inputVaros" placeholder="">
                                </div>
                            </div>

                            <!--div class="form-group">
                                <label for="inputRegio" class="col-sm-2 control-label">Régió</label>
                                <div class="col-sm-10">
                                    <select ng-model="user.regio" ng-options="regio in foregiok" class="form-control" id="inputRegio" placeholder=""></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputRovat" class="col-sm-2 control-label">Gyakran használt rovat</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="user.altkategoria" class="form-control" id="inputRovat" placeholder="">
                                </div>
                            </div-->

                            <br />

                            <button type="submit" class="btn btn-primary">Elküldés</button>

                        </div>

                    </div>

                </div>

            </fieldset>

        </form>

    </div>

</div>