<hr style="border: 3px solid #D2160A"/>

<div class="container">
    <div class="row">

        <div class="col-sm-3">
            <div class="sidebar-account">
            	<div class="row ">
            		<div class="col-lg-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">Felhasználói fiók</div>
                            <div class="panel-body">
                                <ul class="nav">
                                    <li>
                                        <a class="active" href="#" ui-sref="hirdetes-feladas">Új hirdetés</a>
                                    </li>
                                    <li>
                                        <a class="active" href="#" ui-sref="hirdeteseim({id: user.id})">Hirdetéseim</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

            		</div>
            	</div>

                <!--div class="row hidden-xs">
                    <div class="col-lg-12">
                		<div class="well">

                            <div class="row ">
                                <div class="col-lg-3">
                                    <img src="css/images/icons/Crest.png" width="45"/>
                                </div>
                                <div class="col-lg-9">
                                    <h4 style="margin-top: 0">Hirdetés kiemelés</h4>
                                    <p>Emelje ki hirdetését</p>
                                </div>
                            </div>

                    	</div>
                    </div>
                </div-->

            </div>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">Profilom</div>
                <div class="panel-body" cg-busy="userBusy">

                    <div class="alert alert-danger" role="alert" ng-show="response.errors">
                        Egy vagy tobb adat hibas volt! Kerjuk toltse ki ujra az urlapot es adjon meg helyes adatokat!
                    </div>

                    <form name="profileForm" class="form-horizontal" ng-submit="updateUser()" novalidate>
                        <fieldset>

                            <div class="form-group">
                                <label for="nev" class="col-sm-2 control-label required">Név</label>
                                <div class="col-sm-10">
                                    <input name="nev" type="text" ng-model="user.nev" class="form-control" id="inputNev" placeholder="Név" required ng-maxlength="70">
                                    <span style="color:red" ng-show="profileForm.nev.$dirty && profileForm.nev.$invalid">
                                        <span ng-show="profileForm.nev.$error.required">Kérjük adja meg a nevét!</span>
                                        <span ng-show="profileForm.nev.$error.maxlength">
                                            A név maximum 70 karakter lehet!
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label required">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" id="email" name="email" ng-model="user.email" class="form-control " disabled="disabled">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputTelefon" class="col-sm-2 control-label">Telefon</label>
                                <div class="col-sm-10">
                                    <input name="telefon" type="text" ng-model="user.telefon" class="form-control" id="inputTelefon" placeholder="Telefon" ng-maxlength="50">
                                    <span style="color:red" ng-show="profileForm.telefon.$dirty && profileForm.telefon.$invalid">
                                        <span ng-show="profileForm.telefon.$error.maxlength">
                                            A telefonszám maximum 50 karakter lehet!
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputWeblap" class="col-sm-2 control-label">Weblap</label>
                                <div class="col-sm-10">
                                    <input name="weblap" type="text" ng-model="user.weblap" class="form-control" id="inputWeblap" placeholder="Weblap" ng-maxlength="50">
                                    <span style="color:red" ng-show="profileForm.weblap.$dirty && profileForm.weblap.$invalid">
                                        <span ng-show="profileForm.weblap.$error.maxlength">
                                            A weblap maximum 50 karakter lehet!
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputVaros" class="col-sm-2 control-label">Település</label>
                                <div class="col-sm-10">
                                    <input name="varos" type="text" ng-model="user.varos" class="form-control" id="inputVaros" placeholder="Város" ng-maxlength="50">
                                    <span style="color:red" ng-show="profileForm.varos.$dirty && profileForm.varos.$invalid">
                                        <span ng-show="profileForm.varos.$error.maxlength">
                                            A település maximum 50 karakter lehet!
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputVaros" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="checkbox" ng-model="user.modifypass"> Megváltoztatnám a jelszavam
                                </div>
                            </div>

                            <div class="form-group" ng-show="user.modifypass">
                                <label for="password" class="col-sm-2 control-label required">Új jelszó</label>
                                <div class="col-sm-10">
                                    <input type="password" id="password" name="password" ng-model="user.password" class="form-control" placeholder="Új jelszó" ng-minlength="6" ng-maxlength="20" ng-required="user.modifypass">
                                    <span style="color:red" ng-show="profileForm.password.$invalid">
                                        <span ng-show="profileForm.password.$error.required">Kérjük adja meg az új jelszavát!</span>
                                        <span ng-show="profileForm.password.$error.minlength">A jelszo minimum 6 karakter!</span>
                                        <span ng-show="profileForm.password.$error.maxlength">A jelszo maximum 20 karakter lehet!</span>
                                    </span>
                                </div>
                            </div>

                            <br />

                            <button type="submit" class="btn btn-primary" ng-disabled="profileForm.$invalid">Elküldés</button>

                            <div style="color:red;padding-top:10px" ng-show="profileForm.$invalid">
                                A <label class="required"></label>-al jelölt mezők kitöltése kötelező!
                            </div>

                        </fieldset>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>