
<hr class="topbar"/>

<div class="container">
    <br />
    <div class="row">

        <div class="col-sm-12">
            <h1>Create an account</h1>

            <hr />

            <div class="row" cg-busy="userBusy">

                <div class="col-sm-12 col-md-6">

                    <div class="alert alert-info" role="alert" ng-show="registered">
                        <p>A regisztrációját rögzítettük!</p>
                        <p>A regisztráció aktiváláshoz szükséges tudnivalókat elküldtük Önnek a megadott email címre.</p>
                    </div>

                    <!--div class="alert alert-danger" role="alert" ng-repeat="err in response.errors">
                        {{err.message}}: {{err.field}}
                    </div-->

                    <form name="regForm" role="form" ng-show="! registered" class="form-vertical" ng-submit="addUser(regForm.$valid)" novalidate>

                        <fieldset>

                            <div class="row">
                                <div class="col-sm-12" >

                                    <div class="well">

                                        <!--div class="form-group">
                                            <label for="exampleInputEmail1">Név</label>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <select class="form-control">
                                                        <option value="1">Mr</option>
                                                        <option value="2">Mrs</option>
                                                        <option value="3">Miss</option>
                                                        <option value="4">Ms</option>
                                                        <option value="5">Dr</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" ng-model="user.nev" class="form-control " id="vezeteknev" placeholder="Vezetéknév">
                                                </div>
                                                <div class="col-sm-6">
                                                    <input type="text" class="form-control " id="keresztnev" placeholder="Keresztnév">
                                                </div>
                                            </div>
                                        </div-->


                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Név</label>
                                            <input type="text" name="nev" id="nev" ng-model="user.nev" class="form-control " placeholder="Név" required ng-minlength="4" ng-maxlength="255">
                                            <span style="color:red" ng-show="regForm.nev.$dirty && regForm.nev.$invalid">
                                                <span ng-show="regForm.nev.$error.required">Kérjük adja meg a nevét!</span>
                                                <span ng-show="regForm.nev.$error.minlength">A név minimum 4 karakter!</span>
                                                <span ng-show="regForm.nev.$error.maxlength">A név maximum 255 karakter lehet!</span>
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label>
                                            <input type="email" id="email" name="email" ng-model="user.email" class="form-control " placeholder="Email cím" required valid-email>
                                            <span style="color:red" ng-show="regForm.email.$dirty && regForm.email.$invalid">
                                                <span ng-show="regForm.email.$error.required">Kérjük adja meg az email címét!</span>
                                                <span ng-show="! regForm.email.$error.required && regForm.email.$error.validEmail">Hibás email cím!</span>
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <label for="password">Jelszó</label>
                                            <input type="password" id="password" name="password" ng-model="user.jelszo" class="form-control" placeholder="Jelszó, minimum 6 karakter" required ng-minlength="6" ng-maxlength="20">
                                            <span style="color:red" ng-show="regForm.password.$dirty && regForm.password.$invalid">
                                                <span ng-show="regForm.password.$error.required">Kérjük adja meg a jelszavát!</span>
                                                <span ng-show="regForm.password.$error.minlength">A jelszo minimum 6 karakter!</span>
                                                <span ng-show="regForm.password.$error.maxlength">A jelszo maximum 20 karakter lehet!</span>
                                            </span>
                                        </div>

                                        <div class="form-group">
                                            <label for="confirm_password">Jelszó mégegyszer</label>
                                            <input type="password" id="confirm_password" name="confirm_password" ng-model="user.jelszo_megegyszer" class="form-control" placeholder="Jelszó, minimum 6 karakter" required ng-minlength="6" ng-maxlength="20" valid-password-c required>
                                            <span style="color:red" ng-show="regForm.confirm_password.$dirty && regForm.confirm_password.$invalid">
                                                <span ng-show="regForm.confirm_password.$error.required">Kérjük adja meg a jelszavát mégegyszer!</span>
                                                <span ng-show="! regForm.confirm_password.$error.required && regForm.confirm_password.$error.noMatch">A két jelszó nem egyezik!</span>
                                            </span>
                                        </div>

                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" checked="true"> Hírlevél
                                            </label>
                                        </div>


                                        <br />

                                        <!--a href="#" class="btn btn-primary">Elküldés</a-->

                                        <button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid">Elküldés</button>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-md-6 col-sm-12 account-sidebar hidden-sm">

                            <div class="row">
                                <div class="col-sm-3" style="text-align: center;">
                                    <img src="css/images/icons/Crest.png" width="50"/>
                                </div>
                                <div class="col-sm-8">
                                    <h3>Miért regisztráljon?</h3>
                                    <p>Miután regisztrált sokkal kényelmesebben és gyorsabban adhatja fel hirdetését és extra szolgátatásokat os használhat.<p>
                                    </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-3" style="text-align: center;">
                                    <img src="css/images/icons/Pie-Chart.png" width="40"/>
                                </div>
                                <div class="col-sm-8">
                                    <h3>Miért hirdessen nálunk?</h3>
                                    <p>Oldalunkat naponta több ezren látogatják és mi teszünk róla, hogy hirdetését a lehető legtöbben lássák.</p>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-3" style="text-align: center;">
                                    <img src="css/images/icons/Search.png" width="40"/>
                                </div>
                                <div class="col-sm-8">
                                    <h3>Fejlett kereső algoritmus</h3>
                                    <p>Garantáljuk, hogy keresőnk segítségével a potenciális érdeklődők mindig rátaláljanak az Ön hirdetésére.</p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-sm-3" style="text-align: center;">
                                    <img src="css/images/icons/Telephone.png" width="40"/>
                                </div>
                                <div class="col-sm-8">
                                    <h3>Mobil támogatás</h3>
                                    <p>Az oldal tartalma elérhető bármilyen internetre csatlakozó eszközről, legyen az mobil telefon, tablet vagy bármi más.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <br />
                </fieldset>
            </form>

        </div>
    </div>
</div>