<div class="container" id="listings-page">
    <div class="row">
        <div class="col-sm-12 listing-wrapper listings-top listings-bottom">

            <br />
            <br />

            <div class="row">

                <div class="col-sm-7">

                    <ol class="breadcrumb">
                        <li><a href="#" class="link-info" ui-sref='hirdetesek()'><i class="fa fa-chevron-left"></i> Back to listings</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Vehicles</a></li>
                        <li class="active">Cars</li>
                    </ol>

                </div>

            </div>

            <div class="row">

                <div class="col-sm-7">
                    <h1>{{hirdetes.targy}}</h1>
                    <p><span ng-if="hirdetes.telepules">{{hirdetes.telepules}}, </span><span>{{hirdetes.g_regio_nev}}</span></p>
                </div>


                <div class="col-sm-5">

                    <p class="price" ng-if="hirdetes.ar">{{hirdetes.ar}} Ft</p>

                </div>

            </div>

            <hr />

            <div class="row">

                <div class="col-sm-7">

                    <p>
                        {{hirdetes.szoveg}}
                    </p>

                    <p>Azonosito: {{hirdetes.azonosito}} | Feladva {{hirdetes.days_active}} napja ({{hirdetes.feladas}})</p>

                    <p>
                        <span class="classified_links ">
                            <a class="link-info" href="#"><i class="fa fa-share"></i> Megosztas</a>&nbsp;
                            <a class="link-info " href="#"><i class="fa fa-star"></i> Kedvencekhez</a>
                            &nbsp;<a class="link-info " href="#"><i class="fa fa-envelope-o"></i> Kapcsolat</a>
                            &nbsp;<a class="link-info fancybox-media" href="http://maps.google.com/?ll=48.85796,2.295231&spn=0.003833,0.010568&t=h&z=17"><i class="fa fa-map-marker"></i> Terkep</a></span>
                    </p>

                </div>

                <div class="col-sm-5 center zoom-gallery">

                    <div class="row center">

                        <div class="col-sm-12">

                            <a class="fancybox" rel="group" href="css/images/single/1.jpg">
                                <img id="img_01" alt="" class="raised" src="css/images/single/1.jpg" style="width: 100%" />
                            </a>

                            <br />
                            <br />

                            <div class="row" id="gallery" >

                                <div class="col-xs-4" style="margin-bottom: 10px;">
                                    <a href="css/images/single/2.jpg" class="fancybox thumbnail" rel="group" >
                                        <img alt="" src="css/images/single/thumbs/2.jpg" style="width: 100%" />
                                    </a>
                                </div>

                                <div class="col-xs-4" style="margin-bottom: 10px;">
                                    <a href="css/images/single/3.jpg" class="fancybox thumbnail" rel="group" >
                                        <img alt="" src="css/images/single/thumbs/3.jpg" style="width: 100%" />
                                    </a>
                                </div>

                                <div class="col-xs-4" style="margin-bottom: 10px;">
                                    <a href="css/images/single/4.jpg" class="fancybox thumbnail" rel="group" >
                                        <img alt="" src="css/images/single/thumbs/4.jpg" style="width: 100%" />
                                    </a>
                                </div>

                                <div class="col-xs-4" style="margin-bottom: 10px;">
                                    <a href="css/images/single/5.jpg" class="fancybox thumbnail" rel="group" >
                                        <img alt="" src="css/images/single/thumbs/5.jpg" style="width: 100%" />
                                    </a>
                                </div>

                                <div class="col-xs-4" style="margin-bottom: 10px;">
                                    <a href="css/images/single/6.jpg" class="fancybox thumbnail" rel="group" >
                                        <img alt="" src="css/images/single/thumbs/6.jpg" style="width: 100%" />
                                    </a>
                                </div>

                                <div class="col-xs-4" style="margin-bottom: 10px;">
                                    <a href="css/images/single/7.jpg" class="fancybox thumbnail" rel="group" >
                                        <img alt="" src="css/images/single/thumbs/7.jpg" style="width: 100%" />
                                    </a>
                                </div>

                                <div class="col-xs-4" style="margin-bottom: 10px;">
                                    <a href="css/images/single/8.jpg" class="fancybox thumbnail" rel="group" >
                                        <img alt="" src="css/images/single/thumbs/8.jpg" style="width: 100%" />
                                    </a>
                                </div>

                            </div>

                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="col-sm-12" style="text-align: center; margin: 0 auto">
                        <button data-toggle="modal" data-target="#myModal" class="btn btn-warning" style="text-align: center;width: 180px; " type="button">Reply to ad</button>
                        <br />
                        <p>or call Alan on 9824614705</p>
                    </div>

                    <br />

                </div>

            </div>

            <div class="col-sm-12 listings">
                                <br />
                <div class="row">

                    <div class="panel panel-default recent-listings hidden-xs">
                        <div class="panel-heading">Recent Cars, Vans & Motorbikes ads in London</div>


                        <div class="panel-body">

                                                                                    <div class="row premium  listing-row">

                                <div class="col-sm-2">
                                    <a href="details.html" class="thumbnail " ><img alt="" src="css/images/listings/0.jpg"></a>
                                </div>

                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-sm-9">
                                            <h3><a class=""  href="details.html">7 bedroom house for sale</a></h3>
                                        </div>

                                        <div class="col-sm-3">
                                            <h3 class="price-text"><strong>&pound;3,350,000</strong></h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="muted">Located in <strong>Richmond, London</strong></p>
                                            <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                                            <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-5">
                                            <p class="ad-description">
                                                <strong>2006</strong> |

                                                <strong>98,000 miles</strong> |

                                                <strong>2,696 cc</strong> |

                                                <strong>Diesel</strong>
                                            </p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br />
                                                                                    <div class="row   listing-row">

                                <div class="col-sm-2">
                                    <a href="details.html" class="thumbnail " ><img alt="" src="css/images/listings/1.jpg"></a>
                                </div>

                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-sm-9">
                                            <h3><a class=""  href="details.html">1 bedroom flat for sale</a></h3>
                                        </div>

                                        <div class="col-sm-3">
                                            <h3 class="price-text"><strong>&pound;229,950</strong></h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="muted">Located in <strong>Richmond, London</strong></p>
                                            <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                                            <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-5">
                                            <p class="ad-description">
                                                <strong>2006</strong> |

                                                <strong>98,000 miles</strong> |

                                                <strong>2,696 cc</strong> |

                                                <strong>Diesel</strong>
                                            </p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br />
                                                                                    <div class="row   listing-row">

                                <div class="col-sm-2">
                                    <a href="details.html" class="thumbnail property_sold"  style="position:relative;"><img alt="" src="css/images/listings/2.jpg"></a>
                                </div>

                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-sm-9">
                                            <h3><a class=""  href="details.html">2 bedroom apartment for sale</a></h3>
                                        </div>

                                        <div class="col-sm-3">
                                            <h3 class="price-text"><strong>&pound;520,000</strong></h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="muted">Located in <strong>Richmond, London</strong></p>
                                            <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                                            <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-5">
                                            <p class="ad-description">
                                                <strong>2006</strong> |

                                                <strong>98,000 miles</strong> |

                                                <strong>2,696 cc</strong> |

                                                <strong>Diesel</strong>
                                            </p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br />
                                                                                    <div class="row  last listing-row">

                                <div class="col-sm-2">
                                    <a href="details.html" class="thumbnail " ><img alt="" src="css/images/listings/3.jpg"></a>
                                </div>

                                <div class="col-sm-10">
                                    <div class="row">

                                        <div class="col-sm-9">
                                            <h3><a class=""  href="details.html">2 bedroom house for sale</a></h3>
                                        </div>

                                        <div class="col-sm-3">
                                            <h3 class="price-text"><strong>&pound;550,000</strong></h3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p class="muted">Located in <strong>Richmond, London</strong></p>
                                            <p class="muted">Posted Feb 05, 2014 to <a href="#" class="underline">Cars, Vans & Motorbikes</a></p><br />
                                            <p>Excellent Condition. Displacement: 2,900 cc Power Output: 250 bhp Drivetrain: 2-WD  Second hand car for sale – 7377790212 Available car – beat – blue color, Honda city –white /black Indica ecs – white Alto – white Nano – red /white...</p><br />


                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-2"></div>
                                        <div class="col-sm-5">
                                            <p class="ad-description">
                                                <strong>2006</strong> |

                                                <strong>98,000 miles</strong> |

                                                <strong>2,696 cc</strong> |

                                                <strong>Diesel</strong>
                                            </p>
                                        </div>
                                        <div class="col-sm-5">
                                            <p>
                                                <span class="classified_links pull-right">
                                                    <a class="link-info underline" href="#">Share</a>&nbsp;
                                                    <a class="link-info underline" href="#">Add to favorites</a>
                                                    &nbsp;<a class="link-info underline" href="#">Contact</a></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <br />
                                                                                </div>






                    </div>
                </div>
            </div>
        </div>
    </div>
</div>