
            <div class="container">
    <div class="row">


        <div class="col-md-12">

            <h1>Hirdetési Szabályzat</h1>
            <!--h1>Terms and conditions</h1-->
            <hr />
            <!-- Headings & Paragraph Copy -->
            <div class="row">

                <div class="col-md-12">

                    <p style="color:red">EROTIKUS/SZEXUÁLIS TERMÉKEK ÉS SZOLGÁLTATÁSOK HIRDETÉSÉT NEM VÁLLALJUK, EZEK FELADÁSA SZIGORÚAN TILOS!!!</p>
                    <p>Szerkesztőségünk nem vállal semmilyen felelőséget a hirdetések tartalmával kapcsolatban, ezen felelőségek kizárólag a hirdetés feladóját terhelik!</p>
                    <p>Egy hirdetés egy napon csak egyszer a neki leginkább megfelelő rovatba adható fel!</p>
                    <p>A szabályzatot megszegő hirdetők hirdetéseit töröljük és az oldalról kitiltásra kerülhetnek!</p>
                    <p>Szerkesztőségünk fenntartja a jogot bármely hirdetés közlésének megtagadására és törlésére valamint a hirdetési szabályzat módosítására.</p>

                </div>


                <!-- Misc Elements -->

            </div><!-- /row -->

        </div>

    </div>
</div>